
<div class="col-autodetails">
  <a href="/recipes/myprofilepage" class="btn btn-warning"> Go Back </a>
  </div>

  <div class="myrecipes">
    <h3>All Recipes</h3>
</div>

<div class="ul-allrecipes">

  <% Recipes.forEach(recipe=> { %>

    <div class="cardAll">

      <a href="/recipes/allRecipes/<%- recipe._id %>">
        <img class='card_imageAll' src='<%- recipe.image %>' />
      </a>

      <div class="containertext">
        <div class="card_timeandlevel">
          <h3><%= recipe.name %></h3>
          <h4><%= recipe.cooktime %> min</h4>
          <h4><%= recipe.level %></h4>
        </div>

        <form method="POST" action="/recipes/myfavorites" class="formfav">
        <button class="favstar"> 
          <label for="id-of-input" class="custom-checkbox">
          <div class="stars">
          <i class="glyphicon glyphicon-star-empty"></i>
            <i class="glyphicon glyphicon-star"></i>
          </div> 
          <input type="checkbox" name="favcheckbox" id="id-of-input" />
          </label>
          <input hidden name="recipeId" value="<%- recipe._id %>"/>
        </button>
      </form>

      </div>

    </div>
    <% }) %>
</div>
