
<h2>All Recipes</h2>

<ul class="ul">
  <% Recipes.forEach(recipe => { %>
  <div class= "card">
  <li><a href="/recipes/allRecipes/<%- recipe._id %>"> <img class='imagesRecipeList' src = '<%- recipe.image %>'/> </a></li>
  <div class="container"> 
  <h4><%= recipe.name %></h4>
  <h4><%= recipe.cooktime %></h4>
  <h4><%= recipe.level %></h4>
  </div>
</div>
  <% }) %>
</ul>