
<div class="myrecipes">
    <h3> My Recipes</h3>
</div>

<% currentUser.created.forEach(oneRecipe => { %>
    <a href="/recipes/myrecipes/<%- oneRecipe._id %>"> <img class='card_imageAll' src = '<%- oneRecipe.image %>'/>  
      <div class="card_title"><p><%= oneRecipe.name %></p> </div>
      <div class="card_cooktime"><p><%= oneRecipe.cooktime %></p></div>
      <div class="card_level"><p><%= oneRecipe.level %></p></div>
  
  <% }) %>