<div class="btn btn-warning">
<a href="/recipes/allRecipes">Go Back</a>
</div>

<div class="containerDetails">
<div class="imageDetails">
<img class='imagesRecipedetails' src = '<%- recipe.image %>'/>
 </div>
<div class="alldetailstext">
<div class="detailstitle"> <h3>Dish name : <%= recipe.name %></h3></div>
<div class="detailstitle"> <h4>Prep'Time : <%= recipe.cooktime %></h4></div>
<div class="detailstitle"> <h4>Difficulty : <%= recipe.level %></h4></div>
<div class="detailstitle"> <h4>Instructions : <%= recipe.instructions %></h4></div>
<div class="detailstitle"> <h4>Ingredients : <% recipe.ingredients.forEach(currentIngredients => { %> </h4>
  <li><%= currentIngredients%></li>
  <% }) %>
</div>
</div>

<div class="col-autodetails">
<a href="/recipes/allRecipes/<%= recipe._id %>/update" class="btn btn-warning"> Update the recipe </a>
</div>
<div class="col-autodetails">
<a href="/recipes/allRecipes/<%= recipe._id %>/delete" class="btn btn-warning">Delete recipe</a>
</div>