<h1>Update a recipe</h1>

<div class="containerCreate" id="create-container"> 
<form method="POST" action="/recipes/allRecipes/<%= recipe._id %>/update">
  <div class="createLabel">
        <label>Recipe Name</label>
          <input type="text" value="<%- recipe.name %>"> 
        </div>

        <div class="createLabel">
        <label for="ingredients">Ingredients</label>
          <textarea name="ingredients" rows='4' cols="50"> <%- recipe.ingredients[0] %></textarea>
        </div>

<div class="createLabel">
        <label for="instructions">Instructions</label>
          <textarea name="instructions"  rows='4' cols="50"><%- recipe.instructions %> </textarea>
    </div>

    <div class="createLabel">
        <label>Cooking Time</label>
          <input type="number" name="cooktime"  value="<%- recipe.cooktime %>">
        </div>
        
      <div class="createLabel">
        <label for="level">Difficulty</label>
       <select name="level" id="level">
        <% if(recipe.level === "Amateur Chef" ) { %>
          <option value="Easy"> Easy </option>
          <option value="Amateur Chef" selected>Amateur Chef </option>
          <option value="Master Chef">Master Chef</option>
         <% } else if (recipe.level === "Easy" ) { %>
          <option value="Easy" selected> Easy </option>
          <option value="Amateur Chef" >Amateur Chef </option>
          <option value="Master Chef">Master Chef</option>
       <% } else if (recipe.level === "Master Chef" ) { %>
        <option value="Easy" > Easy </option>
        <option value="Amateur Chef" >Amateur Chef </option>
        <option value="Master Chef" selected>Master Chef</option>
       <% } else{%>
        <option value="Easy" > Easy </option>
        <option value="Amateur Chef" >Amateur Chef </option>
        <option value="Master Chef" >Master Chef</option>
<%}%>
       </select>
    </div>

      <div class="createLabel">
        <label for="level">Difficulty</label>
          <select name="level" id="level">
            <% if(recipe.level === "Amateur Chef" ) { %>
              <option value="Easy"> Easy </option>
              <option value="Amateur Chef" selected>Amateur Chef </option>
              <option value="Master Chef">Master Chef</option>
              <%}else if (recipe.level === "Easy" ) { %>
              <option value="Easy" selected> Easy </option>
              <option value="Amateur Chef" >Amateur Chef </option>
              <option value="Master Chef">Master Chef</option>
              <% } else if (recipe.level === "Master Chef" ) { %>
              <option value="Easy" > Easy </option>
              <option value="Amateur Chef" >Amateur Chef </option>
              <option value="Master Chef" selected>Master Chef</option>
              <% } else{%>
                <option value="Easy" > Easy </option>
                <option value="Amateur Chef" >Amateur Chef </option>
                <option value="Master Chef" >Master Chef</option>
        <%}%>
          </select>
      </div>

      <div class="createLabel">
        <label for="foodtypetag">Dietery Requirements</label>
        <select name="foodtypetag" id="foodtypetag"> 
        <% if(recipe.foodtypetag === "Vegan" ) { %>
            <option value="Vegan"selected>Vegan </option>
            <option value="Vegetarian">Vegetarian </option>
            <option value="Gluten-Free">Gluten-Free</option>
           <%}else if (recipe.foodtypetag === "Vegatarian" ) { %>
            <option value="Vegan">Vegan </option>
            <option value="Vegetarian"selected>Vegetarian </option>
            <option value="Gluten-Free">Gluten-Free</option>
         <% } else if (recipe.foodtypetag === "Gluten-Free" ) { %>
          <option value="Vegan">Vegan </option>
            <option value="Vegetarian">Vegetarian </option>
            <option value="Gluten-Free"selected>Gluten-Free</option>
            <% } else{%>
              <option value="Vegan">Vegan </option>
              <option value="Vegetarian">Vegetarian </option>
              <option value="Gluten-Free">Gluten-Free</option>
      <%}%>
         </select>
        </div>

        <div class="createLabel">
          <label for="nationaltypetag">Cuisine</label>
          <select name="nationaltypetag" id="nationaltypetag">  
            <% if(recipe.nationaltypetag === "Asian" ) { %>
              <option value="Asian"selected>Asian </option>
              <option value="Tex-Mex"> Tex-Mex</option>
              <option value="Italian">Italian </option>
              <option value="Scottish">Scottish </option>
              <option value="French"> French</option>
              <option value="Japanese">Japanese </option>
              <option value="Indian">Indian </option>
            <%}else if (recipe.nationaltypetag === "Tex-Mex" ) { %>
              <option value="Asian">Asian </option>
              <option value="Tex-Mex"selected> Tex-Mex</option>
              <option value="Italian">Italian </option>
              <option value="Scottish">Scottish </option>
              <option value="French"> French</option>
              <option value="Japanese">Japanese </option>
              <option value="Indian">Indian </option>
            <% } else if (recipe.nationaltypetag === "Italian" ) { %>
              <option value="Asian">Asian </option>
              <option value="Tex-Mex"> Tex-Mex</option>
              <option value="Italian"selected>Italian </option>
              <option value="Scottish">Scottish </option>
              <option value="French"> French</option>
              <option value="Japanese">Japanese </option>
              <option value="Indian">Indian </option>
            <% } else if (recipe.nationaltypetag === "Scottish" ) { %>
              <option value="Asian">Asian </option>
              <option value="Tex-Mex"> Tex-Mex</option>
              <option value="Italian">Italian </option>
              <option value="Scottish"selected>Scottish </option>
              <option value="French"> French</option>
              <option value="Japanese">Japanese </option>
              <option value="Indian">Indian </option>
            <% } else if (recipe.nationaltypetag === "French" ) { %>
              <option value="Asian">Asian </option>
              <option value="Tex-Mex"> Tex-Mex</option>
              <option value="Italian">Italian </option>
              <option value="Scottish">Scottish </option>
              <option value="French"selected> French</option>
              <option value="Japanese">Japanese </option>
              <option value="Indian">Indian </option>
            <% } else if (recipe.nationaltypetag === "Japanese" ) { %>
              <option value="Asian">Asian </option>
              <option value="Tex-Mex"> Tex-Mex</option>
              <option value="Italian">Italian </option>
              <option value="Scottish">Scottish </option>
              <option value="French"> French</option>
              <option value="Japanese"selected>Japanese</option>
              <option value="Indian">Indian </option>
            <% } else if (recipe.nationaltypetag === "Indian" ){ %>
            <option value="Asian">Asian </option>
            <option value="Tex-Mex"> Tex-Mex</option>
            <option value="Italian">Italian </option>
            <option value="Scottish">Scottish </option>
            <option value="French"> French</option>
            <option value="Japanese">Japanese</option>
            <option value="Indian"selected>Indian </option>
            <% } else{%>
              <option value="Asian">Asian </option>
            <option value="Tex-Mex"> Tex-Mex</option>
            <option value="Italian">Italian </option>
            <option value="Scottish">Scottish </option>
            <option value="French"> French</option>
            <option value="Japanese">Japanese</option>
            <option value="Indian">Indian </option>
      <%}%>
          </select>
        </div>

        <div class="createLabel">
          <label for="imageUrl">Image</label>
          <input type="file" name="imageUrl" accept="image/png, image/jpg" value="<%- recipe.imageUrl %>">
        </div>
        <div class="col-auto">
          <button class="col-form-label form-control"> Submit </button>
        </div>
    </form>
