<h1>Edit a recipe</h1>

<form method="POST" action="/recipes/allRecipes/<%= recipe._id %>/update">

        <label>Recipe Name</label>
          <input type="text" value="<%- recipe.name %>"> 
    
        <label for="ingredients">Ingredients</label>
          <textarea name="ingredients" rows='4' cols="50"> <%- recipe.ingredients[0] %></textarea>
    
        <label for="instructions">Instructions</label>
          <textarea name="instructions"  rows='4' cols="50"><%- recipe.instructions %> </textarea>
    
        <label>Cooking Time</label>
          <input type="number" name="cooktime"  value="<%- recipe.cooktime %>">
    
        <label for="level">Difficulty</label>
       <select name="level" id="level">
        <% if(recipe.level === "Amateur Chef" ) { %>
          <option value="Easy"> Easy </option>
          <option value="Amateur Chef" selected>Amateur Chef </option>
          <option value="Master Chef">Master Chef</option>
         <%}else if (recipe.level === "Easy" ) { %>
          <option value="Easy" selected> Easy </option>
          <option value="Amateur Chef" >Amateur Chef </option>
          <option value="Master Chef">Master Chef</option>
       <% } else if (recipe.level === "Master Chef" ) { %>
        <option value="Easy" > Easy </option>
        <option value="Amateur Chef" >Amateur Chef </option>
        <option value="Master Chef" selected>Master Chef</option>
       <% }%>
       </select>

          <label for="foodtypetag">Dietery Requirements</label>
          <input list="foodtypetag"> <datalist id="foodtypetag" name="foodtypetag" value="<%- recipe.foodtypetag %>"> 
            <option value="Vegan"> </option>
            <option value="Vegatarian"> </option>
            <option value="Gluten-Free"> </option>
          </datalist>
    
          <label for="nationaltypetag">Cuisine</label>
          <input list="nationaltypetag"> <datalist id="nationaltypetag" name="nationaltypetag" value="<%- recipe.nationaltypetag %>"> 
            <option value="Asian"> </option>
            <option value="Tex-Mex"> </option>
            <option value="Italian"> </option>
            <option value="Scottish"> </option>
            <option value="French"> </option>
            <option value="Japanese"> </option>
            <option value="Indian"> </option>
          </datalist>
    
          <label for="imageUrl">Image</label>
          <input type="file" name="imageUrl" accept="image/png, image/jpg" value="<%- recipe.imageUrl %>">
    
          <button> Submit </button>
    </form>
